.eventForm
    width: 100%
    max-width: 800px
    display: flex
    flex-direction: column

form
    margin: 0 auto
    max-width: 600px
    display: flex
    flex-direction: column
    gap: 10px

input,
button
    padding: 10px
    font-size: 14px
    border-radius: 4px
    border: 1px solid #ccc

.nameOfEventInput,
.dateOfEventInput,
.timeOfEventInput,
.numberOfEventInput
    width: 300px
    padding: 8px

.btnContainer
    display: flex
    justify-content: flex-start
    gap: 10px

.addBtn,
.clearExpired
    background-color: #445987
    color: white
    border: none
    cursor: pointer
    transition: background-color 0.3s

.addBtn:hover,
.clearExpired:hover
    background-color: #3a4f76

.error
    color: red
    font-size: 12px

@media (max-width: 768px)
    .btnContainer
        flex-direction: column

    .nameOfEventInput,
    .dateOfEventInput,
    .timeOfEventInput,
    .numberOfEventInput
        width: 100%
